---
title: "Welkom"
description: "De persoonlijk website van Jelle Heemskerk — Senior Android Engineer"
---
<header>
   {% include navigation.html %}
   <a href="/">
       {% include_relative /assets/img/logo.svg %}
   </a>
</header>

<main>
    <img class="avatar" alt="Een foto van Jelle">
    <h1>Hallo, ik ben <a href="https://linkedin.com/in/jelleheemskerk">Jelle</a>!
        Een gedreven Android engineer met een passie voor het creëen van
        onderhouds&shy;vriendelijke software ☝🏻</h1>
</main>

{% include footer.html %}
