.page-index header {
    @include align-center;
    text-align: center;
    margin-bottom: 4.5rem;

    svg {
        margin-top: 2.75rem;
    }
}

.page-index main {
    @include align-center;
    text-align: center;
}
